.principal {
    background: #CCCCCC;
    padding: 30px;
}

p {
    text-align: center;
}

em strong {
    color: #ff0000;
}

.tituloprinc {
    text-align: center;
    padding-left: 20px;
}

.titulocentra {
    text-align: center;
}

#objetivo {
    font-size: 20px;
}

#banner {
    width: 100%;
}

.imagembeneficios {
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}