body {
    background: #cccccc;
}

p {
    text-align: center;
}

em strong {
    color: #ff0000;
}

h1 {
    text-align: center;
}

#objetivo {
    font-size: 20px;
}

#banner {
    width: 100%;
}